.conteiner__master {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}


.fundo__card {

    align-items: initial;
    background-color: var(--corCartao--Secundario);
    border-radius: 14px;
    display: flex;
    justify-content: center;

    margin: 4em 2em 0 2em;
    height: 160px;
    width: 80%;


}

.frente__card {
    background-color: var(--corCartao--Principal);
    border-radius: 14px;
    width: 100%;
    height: 109px;


}


.conteiner__img__descri {

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 1em 0 0 3.1em;
    position: absolute;
}

.topo__card__info {

    display: flex;
    flex-direction: column;



}



.topo__card__info p {
    color: white;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin: 0;



}

.topo__card__info h2 {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;




}




.img__log {

    height: 38px;
    width: 38px;
}

.circulo__branco {
    align-items: center;
    background: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    height: 42px;
    width: 42px;


}

.texto__rodape {

    align-content: center;
    display: flex;
    gap: 40px;
    margin: 9.5em 0 0 1.5em;
    position: absolute;

}

.textos__rodape {
    color: white;
    font-family: 'Montserrat' sans-serif;
    font-weight: lighter;
    font-size: 14px;

}

@media screen and (min-width: 768px) {

    .conteiner__master {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .fundo__card {

        background-color: var(--corCartao--Secundario);
        border-radius: 14px;
        display: flex;
        height: 330px;
        width: 10em;





    }

    .frente__card {
        background-color: var(--corCartao--Principal);
        border-radius: 14px;
        width: 100%;
        height: 13.5em;


    }

    .circulo__branco {
        align-items: center;
        background: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        height: 42px;
        width: 42px;
        margin: 4.5em 0 0 0;


    }

    .topo__card__info {

        display: flex;
        position: absolute;
        flex-direction: column;
        margin: 13.5em 0 0 0;



    }

    .texto__rodape {


        display: flex;
        flex-direction: column;
        gap: 13px;
        position: absolute;
        margin-top: 32.5em;


    }

    .textos__rodape {
        font-size: 12px;
        margin: 0 0 0 -2em;


    }

    @media screen and (min-width: 1024px) {

        .fundo__card {

            background-color: var(--corCartao--Secundario);
            border-radius: 14px;
            display: flex;
            height: 458px;
            width: 13em;


        }

        .frente__card {
            background-color: var(--corCartao--Principal);
            border-radius: 14px;
            width: 100%;
            height: 20em;


        }

        .img__log {

            height: 52px;
            width: 52px;
        }

        .circulo__branco {
            align-items: center;
            background: white;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            height: 56px;
            width: 56px;
            margin: 4.5em 0 0 0;


        }

        .topo__card__info {

            display: flex;
            flex-direction: column;
            margin: 17em 0 0 0;




        }



        .topo__card__info h2 {

            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 27px;
            font-weight: 300;
            margin: 0;

        }

        .topo__card__info p {
            color: white;
            font-weight: lighter;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            margin: 0;

        }


        .texto__rodape {

            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 45.4rem;
            margin-left: 0.1em;
            gap: 10px;




        }

        .textos__rodape {
            font-size: 16px;
            margin: 0;
            font-weight: 100;





        }



    }

    @media screen and (min-width: 1440px) {

        .fundo__card {

            background-color: var(--corCartao--Secundario);
            border-radius: 14px;
            display: flex;
            height: 600px;
            width: 16em;


        }

        .frente__card {
            background-color: var(--corCartao--Principal);
            border-radius: 14px;
            width: 100%;
            height: 25em;


        }







        .img__log {

            height: 70px;
            width: 70px;
        }

        .circulo__branco {
            align-items: center;
            background: white;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            height: 76px;
            width: 76px;
            margin: 5.3em 0 0 0;


        }

        .topo__card__info {

            display: flex;
            flex-direction: column;
            margin: 24em 0 0 0.3em;




        }



        .topo__card__info h2 {

            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            font-weight: 300;
            margin: 0;

        }

        .topo__card__info p {
            color: white;
            font-weight: lighter;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            margin: 0;

        }


        .texto__rodape {

            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 57rem;
            margin-left: 0.3em;
            gap: 18px;




        }

        .textos__rodape {
            font-size: 22px;
            margin: 0;
            font-weight: 100;





        }

    }

}

@media screen and (min-width: 1680px) {

    .fundo__card {

        background-color: var(--corCartao--Secundario);
        border-radius: 14px;
        display: flex;
        height: 730px;
        width: 20em;


    }

    .frente__card {
        background-color: var(--corCartao--Principal);
        border-radius: 14px;
        width: 100%;
        height: 30em;


    }

    .circulo__branco {
        align-items: center;
        background: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        height: 90px;
        width: 90px;
        margin: 5.6em 0 0 0.5em;


    }


    .img__log {

        height: 84px;
        width: 84px;
    }

    .topo__card__info {

        display: flex;
        flex-direction: column;
        margin: 26em 0 0 0.7em;




    }


    .topo__card__info h2 {

        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 52px;
        font-weight: 300;
        margin: 0;

    }

    .topo__card__info p {
        color: white;
        font-weight: lighter;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        margin: 0;

    }


    .texto__rodape {

        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 69rem;
        margin-left: 0.7em;
        gap: 25px;

    }

    .textos__rodape {
        font-size: 28px;
        margin: 0;
        font-weight: lighter;

    }


}

@media screen and (min-width: 2560px) {

    .fundo__card {

        background-color: var(--corCartao--Secundario);
        border-radius: 14px;
        display: flex;
        height:1100px;
        width: 30em;


    }

    .frente__card {
        background-color: var(--corCartao--Principal);
        border-radius: 14px;
        width: 100%;
        height: 45em;


    }

    .circulo__branco {
        align-items: center;
        background: white;
        border-radius:100px;
        display: flex;
        justify-content: center;
        height: 150px;
        width: 150px;
        margin: 7em 0 0 0.5em;


    }


    .img__log {

        height: 143px;
        width: 143px;
    }

    .topo__card__info {

        display: flex;
        flex-direction: column;
        margin: 38em 0 0 0.8em;




    }


    .topo__card__info h2 {

        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        font-weight: 300;
        margin: 0;

    }

    .topo__card__info p {
        color: white;
        font-weight: lighter;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        margin: 0;

    }


    .texto__rodape {

        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 100rem;
        margin-left: 0.8em;
        gap: 45px;

    }

    .textos__rodape {
        font-size: 40px;
        margin: 0;
        font-weight: lighter;

    }
}
