

:root{

  --corCartao--Principal: #5746EA; 
  --corCartao--Secundario: #1D204B;
  --Corfundo--CardTrabalho: #FF8B64;
  --Corfrente--CardTrabalho:#34397B;
  --Corfrente--CarsPequenos: #1D204B;
  --Corfundo--CardGame: #56C2E6;
  --Corfundo--CardStudar: #FF5E7D;
  --Corfundo--CardExercicio: #4BCF83;
  --Corfundo--CardSocial: #7235D1;
  --Corfundo--Saude: #F1C75B; 
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
